<html>
    <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
      crossorigin="anonymous">
     <link rel="stylesheet" href="main.css">
     <script src="test.js"></script>
    </head>
    <body>
    <div class="container">
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="text-center">
            <button type="button" class="btn btn-success" onclick="buttonPressed('yes')">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" onclick="buttonPressed('no')">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            </button>
        </div>
        <h1>This is my website.</h1>
        <h3>It is really cool.</h3>
        <p>This is my first paragraph.</p>
        <img src="terrarialogo.jpg" id="logo" />
        <%- yield %>
        <a href="about.html">About page</a>
        <a href="index.html">Home page</a>
        <a href="/Game">Game</a>
    </div> 
    <div class="col-sm-4"></div> 
    </div>
    </div>
    </body>
</html>